# Data prep for the Multi-Label Neural Network

## Part 1 - Data Prep

### ImageDataGen 
### flow_from_dataframe 


## Part 2  - Data Augment 



## Part 3  - Neural Network 



#### Updated: May 14, 2019
#### By: Patrick L. Cavins

In [1]:
##import libraries 

#dataprep
import pandas as pd 
from sklearn.model_selection import train_test_split
import numpy as np 

##keras stuff 
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D
from keras.layers import Activation, Dropout, Flatten, Dense
from keras.preprocessing.image import ImageDataGenerator

#saving prediction output 
import pickle

#graphing
import matplotlib.pyplot as plt

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

## Data Prep

### Import the dataframe from csv

In [2]:
image_df = pd.read_csv('./data_multi_label/full_image_df.csv')
image_df = image_df.drop(columns='Unnamed: 0')

image_df.head()

image_df.image_saved_as = image_df.image_saved_as.apply(lambda x: x +'.png')

In [3]:
print (image_df.shape)

print ("--"*25)
print ('Confirming the status of null values in the dataframe')

print (image_df.isnull().sum())

print ("--"*25)

print ('The current break break down of this multi-label classifcation problem')

print (image_df.sum())

(2313, 17)
--------------------------------------------------
Confirming the status of null values in the dataframe
AKA               0
AKE               0
AKH               0
AKY               0
ALC               0
AMN               0
BNZ               0
COC               0
COH               0
COO               0
COONH2            0
KEY               0
OH                0
SHH               0
cid               0
image_saved_as    0
ring              0
dtype: int64
--------------------------------------------------
The current break break down of this multi-label classifcation problem
AKA                                                            1346
AKE                                                             249
AKH                                                             222
AKY                                                             189
ALC                                                              38
AMN                                                             325
BNZ                                                            1231
COC                                                             433
COH                                                             181
COO                                                             518
COONH2                                                          186
KEY                                                             271
OH                                                               12
SHH                                                             283
cid                                                    130197711729
image_saved_as    3_bromo_2_butanone_13156.png3_bromo_2_butanone...
ring                                                           1709
dtype: object

### train_test_split 

- We are initially only going to select some features from the dataframe to build the first iteration of the neural network
    - We are going to be using the following columns, 'AKA', 'AKE', 'ring', 'BNZ'

In [4]:
# Setting up the Train/Test/Split

#features for the neural network, in this case this is what we are trying to predict
features = ['ring', 'BNZ', 'AKA', 'AKE']

#this will be aliased as y_col later, needed for the flow_from_dataframe
X = image_df[features]

#this will be aliases as x_col later, needed for the flow_from_dataframe 
y = image_df['image_saved_as']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=19)

In [7]:
X_train.head()

      ring  BNZ  AKA  AKE
1303   1.0  0.0  0.0  1.0
1751   1.0  1.0  0.0  0.0
1962   0.0  0.0  1.0  1.0
1447   1.0  1.0  0.0  0.0
1653   1.0  0.0  1.0  0.0

In [24]:
X_train['label'] = X_train[X_train.columns[:]].apply(lambda x: ','.join(x.astype('str')), 
                                                   axis=1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [38]:
X_test['label'] = X_test[X_test.columns[:]].apply(lambda x: ','.join(x.astype('str')), 
                                                   axis=1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Concat the DFs back together!

In [39]:
full_test_df = pd.concat([X_test, y_test], axis=1)

full_test_df.head()

,ring,BNZ,AKA,AKE,label,image_saved_as
1100,1.0,1.0,1.0,0.0,"1.0,1.0,1.0,0.0",4_tert_butylbenzoic_acid_8167110.png
917,0.0,1.0,0.0,1.0,"0.0,1.0,0.0,1.0",phenyl_vinyl_sulfoxide_5370672.png
622,1.0,1.0,0.0,0.0,"1.0,1.0,0.0,0.0",benzamide_522832.png
269,1.0,1.0,0.0,0.0,"1.0,1.0,0.0,0.0",diphenyl_ether_20298601.png
1347,1.0,1.0,1.0,0.0,"1.0,1.0,1.0,0.0",3_butynyl_tosylate_20501275.png

In [40]:
full_train_df = pd.concat([X_train, y_train], axis=1)

full_train_df.head()

      ring  BNZ  AKA  AKE            label              image_saved_as
1303   1.0  0.0  0.0  1.0  1.0,0.0,0.0,1.0      thiophene_87460260.png
1751   1.0  1.0  0.0  0.0  1.0,1.0,0.0,0.0       metanilamide_7377.png
1962   0.0  0.0  1.0  1.0  0.0,0.0,1.0,1.0       isoprene_10582734.png
1447   1.0  1.0  0.0  0.0  1.0,1.0,0.0,0.0   benzaldehyde_20447206.png
1653   1.0  0.0  1.0  0.0  1.0,0.0,1.0,0.0  hexanoic_acid_87093515.png

### Making The Label List

In [33]:
## Training for loop... 

label_list = []
for entry in full_train_df['label']:
#     print (entry)
    new_label = list(entry)
    label_list.append(new_label)
    
full_train_df['label_list'] = label_list

In [35]:
type(full_train_df['label_list'][0])

list

In [44]:
## testing loop 

label_list = []
for entry in full_test_df['label']:
#     print (entry)
    new_label = list(entry)
    label_list.append(new_label)
    
full_test_df['label_list'] = label_list

In [45]:
full_test_df.head()

,ring,BNZ,AKA,AKE,label,image_saved_as,label_list
1100,1.0,1.0,1.0,0.0,"1.0,1.0,1.0,0.0",4_tert_butylbenzoic_acid_8167110.png,"[1, ., 0, ,, 1, ., 0, ,, 1, ., 0, ,, 0, ., 0]"
917,0.0,1.0,0.0,1.0,"0.0,1.0,0.0,1.0",phenyl_vinyl_sulfoxide_5370672.png,"[0, ., 0, ,, 1, ., 0, ,, 0, ., 0, ,, 1, ., 0]"
622,1.0,1.0,0.0,0.0,"1.0,1.0,0.0,0.0",benzamide_522832.png,"[1, ., 0, ,, 1, ., 0, ,, 0, ., 0, ,, 0, ., 0]"
269,1.0,1.0,0.0,0.0,"1.0,1.0,0.0,0.0",diphenyl_ether_20298601.png,"[1, ., 0, ,, 1, ., 0, ,, 0, ., 0, ,, 0, ., 0]"
1347,1.0,1.0,1.0,0.0,"1.0,1.0,1.0,0.0",3_butynyl_tosylate_20501275.png,"[1, ., 0, ,, 1, ., 0, ,, 1, ., 0, ,, 0, ., 0]"

## Part 2:  Data Augment

In [17]:
#Instantiate 
train_datagen = ImageDataGenerator(rotation_range = 30,
                                   rescale=1./255)
                                   
test_datagen = ImageDataGenerator(rotation_range=30,
                                  rescale=1./255)

In [37]:
#We need to fit the ImageDataGenerator Class to the X_train, X_test... ect.

#Starting off with X_train/y_train => They are flipped 

batch = 16

training_generator = train_datagen.flow_from_dataframe(
    full_train_df, 
    directory = './images_multi_label/',
    x_col = 'image_saved_as',
    y_col = 'label_list',
    target_size = (300,300),
    color_mode = 'grayscale',
    class_mode = 'categorical',
    batch_size = batch,
#     drop_duplicates = False,
    save_to_dir = '/Users/patrickcavins/Desktop/augment/',
    save_format = '.png'
)

Found 1734 images belonging to 4 classes.

In [ ]:
#Testin Time! 

training_generator = train_datagen.flow_from_dataframe(
    full_train_df, 
    directory = './images_multi_label/',
    x_col = 'image_saved_as',
    y_col = 'label_list',
    target_size = (300,300),
    color_mode = 'grayscale',
    class_mode = 'categorical',
    batch_size = batch,
#     drop_duplicates = False,
    save_to_dir = '/Users/patrickcavins/Desktop/augment/',
    save_format = '.png'
)